@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Second Hand Book</h1>
    <p>
        @if (SignInManager.IsSignedIn(User))
        {
            var currentUser = UserManager.GetUserAsync(@User).GetAwaiter().GetResult();
            var output = UserManager.GetRolesAsync(currentUser).GetAwaiter().GetResult().FirstOrDefault();
           <span>User Role - </span> @output
        }
    </p>
    <div class=" container">
        <div class="jumbotron">
            <div class="row">
                <div class=" col-sm-6">
                    <b>
                        Buy Second hand books, used books, old books online
                    </b>
                        <p>The largest and only online marketplace for second hand books.
                        Apart from existing stock, we arrange/source used books which are not available with us as well. 
                        Our motive is to serve you with any book which you request us.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="~/Images/Front.jpg" height="250"  />
                </div>
            </div>
        </div>
    </div>
   
</div>
