@model SecondHandBook.Models.UserProfileModel

@{
    ViewData["Title"] = "Create";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4 style="color:olive">Add a new User Profile Details</h4></div>
    <div class="panel-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-sm table-bordered">
                <tr>
                    <td><label asp-for="FirstName" class="control-label"></label></td>
                    <td>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="LastName" class="control-label"></label></td>
                    <td>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="DateOfBirth" class="control-label"></label></td>
                    <td>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Mobile" class="control-label"></label></td>
                    <td>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Address" class="control-label"></label></td>
                    <td>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="City" class="control-label"></label></td>
                    <td>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Province" class="control-label"></label></td>
                    <td>
                        <input asp-for="Province" class="form-control" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td> <label asp-for="Country" class="control-label"></label></td>
                    <td>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="PostalCode" class="control-label"></label></td>
                    <td>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </td>
                </tr>
            </table>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
