@model SecondHandBook.Models.UserProfileModel

@{
    ViewData["Title"] = "Edit";
}



<div class="panel panel-success">
    <div class="panel-heading text-center"><h4 style="color:green">Edit Details</h4></div>
    <div class="panel-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <table class="table table-sm table-bordered">
                <tr>
                    <td><b><label asp-for="FirstName" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><b><label asp-for="LastName" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><b><label asp-for="DateOfBirth" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><b><label asp-for="Mobile" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><b><label asp-for="Address" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><b><label asp-for="City" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><b><label asp-for="Province" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="Province" class="form-control" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><b><label asp-for="Country" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><b><label asp-for="PostalCode" class="control-label"></label></b></td>
                    <td>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </td>
                </tr>

            </table>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
